@page
@model ServerProjectTracker.Pages.Scaffold.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectLangauge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectLangauge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectDatabase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectDatabase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectBackend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectBackend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectTechnologyMisc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectTechnologyMisc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.UpTimeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.UpTimeDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.ProjectId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
