@page
@model ServerProjectTracker.Pages.Scaffold.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectLangauge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectDatabase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectBackend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectTechnologyMisc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].UpTimeDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectLangauge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDatabase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectBackend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTechnologyMisc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpTimeDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
