@page "/Tracker/{ProjectId:int}/Security"
@model ServerProjectTracker.Pages.Tracker.EditProjectSecurityModel
@{
    ViewData["Title"] = "Project Security";
}

<div class="row">
    <div class="col-2" style="padding-top: 1.5rem">
        <div class="card text-center">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="@Model.Project.ProjectLink">Project Page</a></li>
                <li class="list-group-item"><a asp-page="/Tracker/Details" asp-route-ProjectId="@Model.Project.ProjectId">Project Details</a></li>
                <li class="list-group-item"><a asp-page="/Tracker/EditProjectBasic" asp-route-ProjectId="@Model.Project.ProjectId">Edit Project</a></li>
                <li class="list-group-item"><a asp-page="/Tracker/EditProjectSecurity" asp-route-ProjectId="@Model.Project.ProjectId">Security</a></li>
                <li class="list-group-item"><a asp-page="/Tracker/Index">Tracker Home</a></li>
            </ul>
        </div>
    </div>
    <div class="col-10">
        <h1>@Model.Project.ProjectTitle</h1>
        <h2 style="margin-bottom: 1rem">Project Security</h2>
    </div>
</div>
